* {
    box-sizing: border-box;
}

body {
    background-color: white;
}

h1 {
margin-bottom: 15px;
text-align: center;
color: orangered;
font-size: 50px;
}

section {
    position: relative;
    padding: 15px;
    width: 90%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: gray;
    border: 3.5px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.subHeading-1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 2.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: coral;

}

.subHeading-2 {
    float: right;
    color: white;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 2.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: midnightblue;

}

.subHeading-3 {
    color: black;
    float: right;
    width: 100px;
    padding: 5px;
    margin: -3px -3px 0px;
    border: 2.5px solid black;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: palevioletred;

}

.content {
    padding: 5px;
    border: none;
    background-color: #f2f2f2;
    font-family: Helvetica;
    color: black;
    margin: 3px ;
    height: 150px;
    overflow: auto;
}

.row {
    width: 90%;
}

/*Media Query for the Desktop version, from 992px and above*/
@media (min-width: 992px) {
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/*Media Query for the Tablet version, between 768px and 991px*/
@media (min-width: 768px) and (max-width: 991px) {
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin: auto;
    }

    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*Media Query for the Mobile version, from 767px and below*/
@media (max-width: 767px) {
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}